body{
background-color: hsl(226, 43%, 10%);

}

div{
    background-color: hsl(235, 46%, 20%);
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.eka:hover, .toka:hover, .kolmas:hover, .neljäs:hover, .viides:hover, .kuudes:hover{
    background-color:rgb(52,57,123);
}

.Position{
    display: flex;

}
.top1, .top2, .top3, .top4, .top5, .top6{
    height: 50px;
    width: 200px;
}
.top1{
    background-color: orange;
}

.top2{
    background-color: aqua;
}

.top3{
    background-color: rgb(183, 77, 77);
}

.top4{
    background-color: green;
}

.top5{
    background-color: blueviolet;
}

.top6{
    background-color: yellow;
}

.ylärivi{
       display: flex;
       position: relative;
       top: 1px;
       left: 10px;
}

.toka{
    position: relative;
    left: 10px;
}

.kolmas{
    position: relative;
    left: 20px;
}
.alarivi{
    position: relative;
    top: 210px;
    right: 180px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.neljäs{
    position: relative;
    right: 10px;
}

.kuudes{
    position: relative;
    left: 10px;
}
.Jermu{
    background-color:  hsl(246, 80%, 60%);
    height: 410px;
    width: 200px;
}

.Jermunsisalla{
    height: 138px;
    width: 200px;
}

h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;

    text-align:left;
    padding: none;
}

p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;

    text-align:center;
    padding: none;
}

h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    padding: none;
}
h3{
    color:rgb(72, 85, 90);
    font-size: 15px;
}
button {
    transition: all .5s ease;
    color: rgb(64, 30, 87);
    border: none;
    text-align: center;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}
button:hover {
    color: #001F3F;
    background-color: #fff;
}

.Report{
    font-size: 20px;
    position: relative;
}

.Nimi{
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
}

img{
 
    height: 49px;
    width: 50px;
}

.kuva{

    height: 100px;
    width: 100px;
}
